<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<!--Product List-->
<div th:fragment="allproducts" th:each="eachProduct:${productList}">
    <img th:src="${eachProduct.image}"></img>
    <form th:action="@{/addtocart}" method="post">
        <button th:inline="text" type="submit" name="productid" th:value="${eachProduct.id}">Add [[${eachProduct.title}]] to cart</button>
    </form>
</div>
<!--End of product list-->

<!--Shopping Cart List-->
<div th:fragment="allproducts" th:each="eachProduct:${productList}">
    <!--Add option to edit quantity in the shopping cart here -->
    <img th:src="${eachProduct.image}"></img>
    <form th:action="@{/removefromcart}" method="post">
        <button th:inline="text" type="submit" name="productid" th:value="${eachProduct.id}">Add [[${eachProduct.title}]] to cart</button>
    </form>
</div>
<!--End of product list-->

</body>
</html>